body {
    background: black;
    color: white;
    font-family: 'Share Tech Mono', monospace;
}

button {
    cursor: pointer;
}

/* connecting */
#connecting {
    margin: 0 auto;
    width: 1000px;
    padding: 10px;
}

/* lobbies */
.lobbies {
    margin: 0 auto;
    width: 1000px;
    border: 2px solid white;
    padding: 10px;
}

/* game */
.game {
    width: 1000px;
    position: relative;
    height: 625px;
    margin: 0 auto;
    background: black;
    border: 2px solid white;
}
.game::before {
    content: '';
    position: absolute;
    border-right: 2px solid white;
    top: 0;
    bottom: 0;
    left: 499px;
}

.game .ball {
    display: block;
    width: 1px;
    height: 1px;
    position: absolute;
    border: 10px solid white;
}
.game .player {
    width: 1px;
    height: 200px;
    border-left: 10px solid white;
    border-right: 10px solid white;
    position: absolute;
}
.game .player.player1 {
    left: 0;
}
.game .player.player2 {
    right: 0;
}

/* scores */
.scores {
    width: 500px;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 10px;
}
.scores .score {
    font: 32px;
    color: white;
}
.scores .score.score1 {
    float: left;
}
.scores .score.score2 {
    float: right;
}

.reset {
    display: block;
    margin: 0 auto;
}