@page
@model VanillaPong.Pages.IndexModel
@{
}
<html>
<head>
    <link href="~/css/game.css" rel="stylesheet" />
</head>
<body>
    <div class="scores">
        <div class="score1 score">0</div>
        <div class="score2 score">0</div>
    </div>
    <div class="game">
        <div class="player1 player" style="top: 0;"></div>
        <div class="ball" style="left: 200px; top: 150px;"></div>
        <div class="player2 player" style="top: 425px;"></div>
    </div>
</body>
</html>